ul {
    list-style-type: none;
    margin-top: -17px;
    padding: 0;
    width: 210px;
    background-color: #81B622;
    position: fixed;
    height: 100%;
    border: 2px solid black;
}

li a {
    display: block;
    color: #ECF87F;
    margin-top: 20px;
    text-decoration: none;
    border-bottom: 2px solid black;
    font-size: 20px;
    font-family: sans-serif;   
}

body {
    margin: 0;
    padding: 0;
}

.tab {
    margin-left: 40px;
    display: block;
}

nav ul {
    list-style-type: none;
}


nav > ul li {
    position: relative;
    text-align: center;
    color: #ECF87F;
    font-family: sans-serif;
    font-size: 20px;
}

nav ul > li ul {
    margin-left: 100%;
    display: none;
    position: relative;
    height: 100%;
    margin-top: -68px;
    padding-bottom: 40px; 
}

nav > ul > li:hover > ul {
    display: block;
    border: 2px solid black;
    margin-bottom: -40px;
}

nav a {
    text-decoration: none;
    display: block;
    margin-top: 20px;
    padding-bottom: 20px;
}

ul li ul {
    position: relative;
    height: 100%;
    color: #ECF87F;
    border: 2px solid black;
}