ul {
    list-style-type: none;
    margin-left: -190px;
    margin-top: 0px;
    padding: 0;
    width: 210px;
    background-color: #81B622;
    position: fixed;
    height: 100%;
    border: 2px solid black;
}

li a {
    display: block;
    color: #ECF87F;
    margin-top: 20px;
    text-decoration: none;
    border-bottom: 2px solid black;
    font-size: 20px;
    font-family: sans-serif;   
}

body {
    margin: 0;
    padding: 0;
    
}

nav > ul li {
    position: relative;
    text-align: center;
    top: 0;
    color: #ECF87F;
    font-family: sans-serif;
    font-size: 20px;
}

nav ul > li ul {
    margin-left: 100%;
    display: none;
    position: absolute;
    height: 430%;
    margin-top: -68px;
}

nav > ul > li:hover > ul {
    display: block;
}

nav a {
    display: block;
    margin-top: 20px;
    padding-bottom: 20px;
}

@media screen and (max-width: 750px) {
    ul {
        width: 100%;
        height: 45%;
        position: fixed;
    }
    nav ul > li ul {
        display: none;
        position: absolute;
        height: 420%;
        z-index: 1;
        width: 100%;
        margin-top: -1px;
        right: 1px;
    }
    nav > ul > li:hover > ul {
        display: block;
    }
}

@media screen and (max-width: 200px) {
    li a {
        text-align: center;
        float: none;
    }
}