/*
    Mizzou Favicon: https://www.dragonsportsonline.com/missouri-tigers/?sort=newest&page=4
    Division of IT: https://twitter.com/mudoit
    Unix Photo: https://www.careersinfosecurity.com/regulator-dont-neglect-physical-security-workstations-a-11047
    Ubuntu Font: https://design.ubuntu.com/font/
    Footer Background: http://practicalplumbingandrooter.com/background-footer/
*/
h1 {
    text-align: center;
    color: gold;
    font-family: myCustomFont;
}

h2 {
    text-align: center;
    font-family: myCustomFont;
    color: #FFFF;
}

h3 {
    text-align: center;
    color: #3D550C;
}

.info {
    text-align: center;
    display: block;
    padding: 30px 30px;
    margin-top: -20px;
    color: gold;
    font-family: myCustomFont;
}

.footerinfo {
    text-align: center;
    display: block;
    padding: 30px 30px;
    margin-top: -20px;
    color: gold;
    font-family: myCustomFont;
}

.firstStyle::first-letter {
    font-size: 200%;
    color: #FFF;
}

@font-face {
    font-family: myCustomFont;
    src: url(Ubuntu-Th.ttf);
}

div {
    margin-left: 170px;
    padding-left: 30px;
    padding-right: 30px;
}

.resume {
    text-align: center;
    font-family: myCustomFont;
    color: gold;
    margin-left: 550px;
}

blockquote {
    text-align: center;
    margin-top: 10px;
}

.tab {
    display: block;
    margin-left: -150px;
}

body {
    background: darkgreen;
}

.indent {
    text-indent: 2em;
}

div.wrapper {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    height: 720px;
}

.aboutme {
    height: 70%;
    width: 50%;
    margin-left: 300px;
}
.aboutme2 {
    height: 45%;
    width: 58%;
    margin-left: 150px;
}

iframe {
    margin-left: 350px;
    width: 560px; 
    height: 315px;
}

.wireless {
    margin-left: 250px;
}

.unix {
    margin-left: 250px;
}

.doIT {
    margin-left: 350px;
}


@media screen and (max-width: 750px) {
    main {
        background-color: #00008B;
    }
    body {
        background-color: #00008B;
    }
    
    h1 {
        margin-right: -800px; 
    }
}

blockquote {
    font-family: myCustomFont;
    color: gold;
}

.icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: -1px;
    margin-bottom: -8px;
}

.icon2 {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: -1px;
    margin-bottom: -8px;
}

.transform:hover {
    transform: scale(2);
}

footer {
    background-image: url(backgroundfooter.jpeg);
    width: 101.3%;
    margin-left: 14px;
}

.paragraphadjustment {
    margin-left: -120px;
    display: block;
}

.paragraphadjustment2 {
    margin-left: 50px;
    display: block;
}


@media screen and (max-width: 750px) {
    main {
        background-color: #00008B;
    }
    body {
        background-color: #00008B;
    }
    h2 {
        color: #FFFF;
        margin-left: -150px;
        margin-top: 0px;
        font-size: 36px;
    }
    h1 {
        margin-right: 200px;
        margin-top: 0px;
        font-size: 48px;
    }
    .aboutme {
        width: 100%;
        height: 30%;
        margin-left: -100px;
    }
    .aboutme2 {
        width: 250%;
        height: 50%;
        margin-left: -300px;
    }
    .icon {
        margin-right: 50px;
    }
    iframe {
        margin-left: -150px;
        border: 0;
    }
    .resume {
        margin-left: 110px;
    }
    .tab {
        margin-left: -200px;
        display: block;
    }
    .doIT {
        margin-left: -150px;
        width: 130%;
        height: 10%;
    }
    .projectsfooter {
        margin-top: 400px;
    }
    footer {
        background-color: #00008B;
        margin-left: -200px;
        width: 153%;
    }
    
    .paragraphadjustment {
        margin-left: -350px;
        display: block;
    }
    .wireless {
        margin-left: -150px;
        width: 130%;
        height: 10%;
    }

    .unix {
        margin-left: -150px;
        width: 130%;
        height: 10%;
    }
    
    .footerbg {
        margin-right: 20px;
    }
    blockquote {
        margin-left: -70px;
    }
    
    .info {
        font-size: 28px;
    }
    
    ul {
        width: 100%;
        height: 51%;
        position: fixed;
    }
    nav ul > li ul {
        display: none;
        position: absolute;
        height: 420%;
        z-index: 1;
        width: 100%;
        margin-top: -1px;
        right: 2px;
    }
    nav > ul > li:hover > ul {
        display: block;
    }
    #hamitems a {
        box-sizing: border-box;
        display: block;
        width: 100%;
    }
    
    #hamnav label {
        display: inline-block;
        background: #81B622;
        font-style: normal;
        font-size: 2em;
        margin-left: -140px;
        border: 5px solid black;
    }
    
    #hamitems {
        display: none;
    }
    
    #hamnav input:checked ~ #hamitems {
        display: block;
    }
    #hamitems ul > li ul {
        display: none;
    }
    #hamitems ul li:hover>ul {
        display: none;
    }
}

@media print {
    body {
        font-size: 10pt;
    }
    blockquote {
        margin-top: -200px;
    }
    footer {
        margin-bottom: -50px;
    }
    h1 {
        color: black;
        margin-left: -150px;
    }
    p {
        color: black;
        font-family: serif;
        margin-left: -150px;
    }
    .icon {
        display: none;
    }
    .icon2 {
        display: none;
    }
    
    @page {
        margin: 1in;
    }
    iframe {
        display: none;
    }
    img {
        display: none;
    }
    .aboutme {
        display: none;
    }
    
    h2 {
        font-size: 8px;
    }
    
    footer {
        color: black;
        font-family: serif;
    }
}