h1 {
    text-align: center;
    color: #ECF87F;
    font-family: myCustomFont;
}

h2 {
    text-align: center;
    font-family: myCustomFont;
    color: #3D550C;
}

h3 {
    text-align: center;
    color: #3D550C;
}

p {
    text-align: center;
    display: block;
    padding: 30px 30px;
    margin-top: -20px;
    color: #ECF87F;
    font-family: myCustomFont;
}

.firstStyle::first-letter {
    font-size: 200%;
    color: #3D550C;
}

@font-face {
    font-family: myCustomFont;
    src: url(Ubuntu-Th.ttf);
}

div {
    margin-left: 170px;
    padding-left: 30px;
    padding-right: 30px;
}

.resume {
    text-align: center;
    padding-left: 420px;
    font-family: myCustomFont;
    color: #ECF87F;
}

blockquote {
    text-align: center;
    margin-top: 10px;
}

.tab {
    margin-left: -100px;
    display: block;
}

body {
    background: #59981A;
}

.indent {
    text-indent: 2em;
}

div.wrapper {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    height: 720px;
}

img {
    width: 50%; 
    height: 60%;
    margin-left: 250px;
}

iframe {
    margin-left: 350px;
}

@media screen and (max-width: 750px) {
    main {
        background-color: #00008B;
    }
    body {
        background-color: #00008B;
    }
    footer {
        background-color: #00008B;
    }
    h1 {
        margin-right: -800px; 
    }
}

.icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: -250px;
}
.icon2 {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.transform:hover {
    width: 80px;
    height: 80px;
}

@media screen and (max-width: 750px) {
    main {
        background-color: #00008B;
    }
    body {
        background-color: #00008B;
    }
    h2 {
        color: #FFFF;
        margin-left: -200px;
    }
    h1 {
        margin-right: 200px;
        margin-top: 0px;
    }
    img {
        width: 100%;
        height: 33%;
        margin-left: -50px;
    }
    .icon {
        margin-right: 50px;
    }
    iframe {
        margin-left: 0px;
    }
    .resume {
        margin-left: -200px;
    }
}