h1 {
    text-align: center;
    color: #ECF87F;
    font-family: monospace;
    margin-left: -1000px;
}

h2 {
    text-align: center;
    font-family: sans-serif;
    color: #3D550C;
    padding-left: 100px;
}

h3 {
    text-align: center;
    color: #3D550C;
}

p {
    text-align: center;
    display: block;
    padding: 30px 30px;
    color: #ECF87F;
}

.firstStyle::first-letter {
    font-size: 200%;
    color: #3D550C;
}

div {
    padding-left: 130px;
    padding-right: 200px;
    margin-left: 60px;
}

.resume {
    text-align: center;
    padding-left: 420px;
    font-family: sans-serif;
    color: #ECF87F;
}

blockquote {
    text-align: center;
    margin-top: 10px;
}

footer {
    margin-left: -700px;
    margin-top: 900px;
}

.tab {
    margin-left: 40px;
    display: block;
}

body {
    background: #59981A;
}

.indent {
    text-indent: 2em;
}


div.wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto ;
    grid-gap: 10px;
    height: 720px;
}

img {
    width: 600px; 
    height: 400px;
    margin-left: 300px;
}

iframe {
    padding-top: 850px;
    margin-left: -750px;
    margin-top: 200px;
}

@media screen and (max-width: 750px) {
    main {
        background-color: blue;
    }
    body {
        background-color: blue;
    }
    footer {
        background-color: blue;
    }
    h2 {
        color: #FFFF;
    }
    h1 {
        margin-right: -800px;
        margin-top: 500px; 
    }
}