h1 {
    text-align: center;
    color: #ECF87F;
    font-family: monospace;
}

h2 {
    text-align: center;
    font-family: sans-serif;
    color: #3D550C;
}

h3 {
    text-align: center;
    color: #3D550C;
}

p {
    text-align: center;
    display: block;
    margin: 50px;
    padding: 0;
    color: #ECF87F;
}

.firstStyle::first-letter {
    font-size: 200%;
    color: #3D550C;
}

div {
    padding-left: 130px;
    padding-right: 200px;
    margin-left: 60px;
}

a.resume {
    text-align: center;
    padding-left: 650px;
}

blockquote {
    text-align: center;
}

    
.tab {
    margin-left: 40px;
    display: block;
}

body {
    background: #59981A;
}

.indent {
    text-indent: 2em;
}