h1 {
    text-align: center;
    color: #009900;
    font-family: monospace;
}

h2 {
    text-align: center;
    font-family: sans-serif;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
    text-indent: 170px;
    display: block;
    margin: 50px;
    padding: 0;
}

.firstStyle::first-letter {
    font-size: 200%;
    color: #009900;
}

div {
    padding-left: 130px;
    padding-right: 200px;
    margin-left: 60px;
}

a.resume {
    text-align: center;
    padding-left: 650px;
}

blockquote {
    text-align: center;
}