table {
    border-collapse: collapse;
    background-color: gold;
    text-align: center;
    width: 60%;
}

h1 {
    margin-left: 20px;
}

h2 {
    margin-left: 20px;
}

footer {
    margin-top: 70px;
    width: 101%;
}

table th {
    text-align: center;
    background-color: deepskyblue;
    border: 1px solid black;
    color: black;
}

table td {
    border: 1px solid black;
    padding: 30px 20px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.tableMove {
    margin-left: -100px;
    margin-bottom: -45px;
}

.centerForm {
    margin-left: 100px;
    margin-top: 70px;
}

.outstanding {
    height: 45%;
    width: 16%;
    margin-left: 725px;
    margin-top: -600px;
}

figcaption {
    margin-left: 720px;
    font-family: myCustomFont;
    color: gold;
}

@media screen and (max-width: 750px) {
    table {
        border-collapse: collapse;
        background-color: gold;
        text-align: center;
    }

    table th {
        text-align: center;
        background-color: deepskyblue;
        border-right: 1px solid black;
        color: black;
    }

    table td {
        border: 1px solid black;
        padding: 20px 10px;
    }
    
    .toCenter {
        margin-left: -130px;
        margin-bottom: 45px;
    }
    
    .outstanding {
        height: 30%;
        width: 40%;
        margin-left: -50px;
        margin-top: 80px;
    }
    
    figcaption {
        margin-left: -60px;
        font-family: myCustomFont;
        color: #ECF87F;
        font-size: 24px;
    }
    
    h2 {
        color: #FFFF;
        margin-right: 500px;
    }
    h1 {
        margin-right: 500px;
        margin-top: 0px;
    }
    footer {
        background-color: #00008B;
        margin-left: -200px;
        width: 85%;
        margin-top: 70px;
    }
    
    .emailComposite {
        margin-right: 30px;
        width: 460px;
    }

    .submitButton {
        margin-left: 200px;
    }
    
    .centerForm {
        margin-left: -100px;
    }
    
    .tableMove {
        margin-left: -230px;
        margin-bottom: -45px;
    }
    
    html,body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

.emailComposite {
    margin-right: 400px;
    width: 460px;
}

.submitButton {
    margin-left: 200px;
}